<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-6">

                <h2>
                    Explore <%= city.city %>
                </h2>
                <h6>
                    <%= city.location %>
                </h6>
                <div class="w-75 p-3">
                    <p>
                        <%= city.description %>
                    </p>
                </div>
                <div class="row">
                    <% for (let campground of campgrounds) {%>


                        <div class="card me-2 mb-2" style="width: 18rem;">
                            <img src="<%= campground.images[0].url %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="card-title">
                                        <%= campground.title %>
                                    </h6>
                                    <a href="/campgrounds/<%= campground._id %>"
                                        class="btn btn-sm btn-secondary">Details</a>
                                </div>

                            </div>
                        </div>

                        <% } %>
                </div>
            </div>

            <div class="col-6">
                <style type="text/css" scoped>
                    .clusterMap {
                        position: sticky;
                        top: 130px;
                        margin-left: 50px;
                    }
                </style>
                <div class="clusterMap">
                    <div id="map" style="width: 100%; height:700px"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = `<%- JSON.stringify(campgrounds) %>`
        const city = '<%- city.city %>'
        const select = null;

    </script>

    <script src="/javascripts/clusterMap.js"></script>