<% layout('layouts/boilerplate') %>
    <link href="../../public/stylesheets/index.css" rel='stylesheet' />
    <div class="container">
        <div class="row">
            <div class="col-6">

                <h2>
                    Explore <%= city %>
                </h2>
                <h6>Washington (WA), United States</h6>
                <div class="w-75 p-3">
                    <p>In Seattle you simply can’t skip the Central Public Library – a modern architectural marvel of
                        glass
                        grids, unusual shapes, and a “book spiral” that climbs four stories. Stroll over to Pike Place
                        Market to visit the original Starbucks and play catch with a fishmonger. In the heart of the
                        city
                        lies Chihuly Garden and Glass, which will dazzle you with its colorful and delicate works. Glide
                        to
                        the top of the Space Needle for panoramic views of the surrounding mountain ranges and Puget
                        Sound.
                    </p>
                </div>
                <div class="row">
                    <% for (let campground of campgrounds) {%>


                        <div class="card me-2 mb-2" style="width: 18rem;">
                            <img src="<%= campground.images[0].url %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="card-title">
                                        <%= campground.title %>
                                    </h6>
                                    <a href="/campgrounds/<%= campground._id %>"
                                        class="btn btn-sm btn-secondary">Details</a>
                                </div>

                            </div>
                        </div>

                        <% } %>
                </div>
            </div>

            <div class="col-6">
                <style type="text/css" scoped>
                    .clusterMap {
                        position: sticky;
                        top: 130px;
                        margin-left: 50px;
                    }
                </style>
                <div class="clusterMap">
                    <div id="map" style="width: 100%; height:700px"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const campgrounds = `<%- JSON.stringify(campgrounds) %>`
        const city = '<%- city %>'
        const select = null;

    </script>

    <script src="/javascripts/clusterMap.js"></script>